<h1>Sessions#patient_or_doctor</h1>
<p>Find me in app/views/sessions/patient_or_doctor.html.erb</p>

<%= link_to 'I am a patient', patient_sign_in_path %>
<%= link_to 'I am a doctor', doctor_sign_in_path %>
