language: ruby
rvm:
- 2.2.2
addons:
  postgresql: '9.4'
before_script:
- psql -c 'create database travis_ci_test;' -U postgres
- cp config/database.yml.travis config/database.yml
deploy:
  provider: heroku
  api_key:
    secure: xXxo7ih/nXyUIibRnDmKoqtEmJJUgFfwquqfpJS5fH3Z81tzXcIa2/FSyTR+rAeeUaWM5qqGilDRY2j84UlY4u1xFHRPDURfWnY9hwXcw4igsJC2Yzkm0BlSb2Ap3cLgNSJ+5ZYCIi/i/3tEjRxp078HhI6072mVVv0Mp6kGq/JxWPUFopSVmIanmgSA+uANQHUgvcxMG+E2fGLd1uTjfRwXyt7sRV1xZzPprk17G2go+5ogQ4x1p/2rTBxixrQ6l3Rf5+9nbEqYC/MknekpfuDTwTXAWgj1ue/6YBNVK43ML5vnXSsivDmaqapnQprpSC74wmHMR1YWFsjQA2ppDa2yWoH1yCmx9AVAN9LX4EnIatLbXinoeBqyovLXjbZiuHypObx3FIuJH1Wpp7KxdgQzceVDMI7Jood37r/4g6Gm9wCDDu+tjw1TDVXC6S4OzvJ8ACeLfRBhk6LyxLIcuKTdXka2EZQf5ZOYUEIuEWZhoNlj2eueBwvx9GnnNCxgq62moBCOuiIPalIc3UnXFK5HJbya8aOg0tlF44/7YXk8SArvCf3Obg95kzFkWZIuRUcQ3zIh3O8PE1i86ivCLdYPKXJ3yqLv9S6EvDw2AJLTxpP+h5eH4ZtQ93FUs6bvUt1sQApLmzc/8c0AAZ4L4OckolHwQtktDgKxEZgDQ18=
  app: myprescriptionpal
  on:
    repo: ctneal91/pain
  run:
    - "rake db:migrate"
    - "rake cleanup"
