<h1>Please enter in your dose information here</h1>
<%= simple_form_for @dose do |d| %>
  <%= d.input :amount_of_pills_taken, label: false, placeholder: 'Amount of Pills Taken' %>

  <%= d.input :pain_scale, label: false, placeholder: 'Pain Scale' %>

  <%= d.submit "Add Dose" %>
<% end %>
