@import 'bootstrap-sprockets';
@import 'bootstrap';

*{
  box-sizing: border-box;
}

body{
  background-color: lighten(#e9e0d6, 10%);
}

.nav_bar {
  display: flex;
  height: 50px;
  margin: auto;
  width: 1100px;
  align-items: center;
}

.my, .prescription, .pal {
  padding: 0px, 0px;
  margin: 0px, 0px;
}

.my {
  color: lighten(#29aba4, 10%);
}
.greeting, a, .prescription, .messages{
  color: #29aba4;
  vertical-align: middle;
}

.pal {
  color: darken(#29aba4, 10%);
}

.user_nav_bar {
  display: flex;
  text-adjust: right;
  float: right;
  padding-left: 603px;
}

.messages, .sign_out {
  margin-left: 10px;
}

h4, h3, h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.title_bar {
  background-color: #3a9ad9;
  height: 50px;
  display: flex;
  align-items: center;
   .title_name {
    color: #e9e0d6;
    width: 1100px;
    margin: auto;
    height: 50px;
    align-items: center;
    display: flex;
    h3 {
      margin: 0px 0px;
    }
  }
}

.page_content {
  width: 1100px;
  margin: auto;
}

.new_dose, .dose_greeting, .new_patient {
  margin: 5px 0px;
  background-color: #e9e0d6;
  color: #29aba4;
  text-decoration: bold;
}

.drug_amounts p {
  margin: 5px 0px;
}

.dose_form {
  width: 200px;
}

.choices {
  margin: auto;
  width: 100px;
  align: center;
}

.choice {
  margin-top: 20px;
}

.create_container {
  display: flex;
}

.sign_up_form {
  width: 500px;
  margin: 10px 0px;
}

.dose_table {
  width: 500px;
}

.patients_table {
  width: 550px;
}

.prescriptions_table {
  width: 700px;
}

.patients_table {
  width: 400px;
}

.sign_in_form input, .sign_in_form {
  width: 200px;
  border-radius: 5px;
}

.sign_in_box {
  margin: 50px auto;
  width: 486px;
  border: 5px solid #29aba4;
  padding: auto auto;
  height: 300px;
  border-radius: 10px;
  background-color: #e9e0d6;
  h5{
    margin: 10px 100px;
  }
}

.sign_in_form {
  margin-left: 140px;
}

.sign_in_form label {
  margin-bottom: 0px;
  text-align: center;
  color: #354458;
  text-size: 25px;
}

form {
  margin: 0px;
}

.sign_in_form p {
  margin-bottom: 3px;
}

.sign_in_form {
  margin-bottom: 10px;
}

.sign_in_inner_box {
  height: 250px;
  margin: 50px auto;
}

.drug_information, .doses, .reports {
  h4 {
    color: #29aba4;
    margin: 5px 0px;
    width: 1100px;
    border-bottom: 2px solid lighten(#344256, 20%);
    padding-bottom: 2px;
    font-size: 21px;
  }
  p {
    margin: 1px 0px;
  }
  p, .chart_title {
    color: #344256;
  }
  margin: 10px 0px;
  .chart_title {
    font-size: 16px;
    margin: 3px 0px;
  }
}

.chart {
  padding-bottom: 2px;
  border-bottom: 1px solid lighten(#344256, 40%);
  margin: 10px 0px;
}
